body {
  background-color: rgb(138, 138, 138);
  margin: 0;
  padding: 0;
}

canvas {
  background-color: white;
  background-position: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.tower-selection {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tower-stats{
  margin: 0px;
  padding-left: 20%;
}

.tower:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tower.selected {
  outline: 3px solid #ff0;
  box-shadow: 0 0 10px #ff0;
}
