body {
  background-color: rgb(138, 138, 138);
  margin: 0;
  padding: 0;
}

canvas {
  background-color: white;
  background-position: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.tower-selection {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tower:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tower.selected {
  outline: 3px solid #ff0;
  box-shadow: 0 0 10px #ff0;
}

#tower-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  gap: 10px;
  background: rgb(68, 65, 65, 0.6);
  border-radius: 1px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

#tower-menu button {
  padding-top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#tower-menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  transition: transform 0.05s ease-in-out;
}
