body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #a9aba8;
}
#sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
#game-over {
    display:none; 
    position:absolute; 
    top:0; 
    left:0; 
    width:1280px; 
    height:780px; 
    background:rgba(0,0,0,0.8); 
    z-index:100; 
    justify-content:center; 
    align-items:center; 
    flex-direction:column;
}
#game-win {
    display:none; 
    position:absolute; 
    top:0; 
    left:0; 
    width:1280px; 
    height:780px; 
    background:rgba(0,0,0,0.8); 
    z-index:100; 
    justify-content:center; 
    align-items:center; 
    flex-direction:column;
}
.tower-option {
    cursor: pointer;
    margin-bottom: 12px;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    transition: border 0.2s, background 0.2s;
    font-size: 20px;
    width: 210px;
}
.tower-option img {
    transition: transform 0.2s;
}
.tower-option:hover img {
    transform: scale(1.15);
    z-index: 2;
}
#main-menu {
    position: absolute;
    top: 0; left: 0;
    width: 1280px;
    height: 780px;
    z-index: 20;
    display: block;
}

#main-menu-img {
    position: absolute;
    top: 0; left: 0;
    width: 1280px;
    height: 780px;
    z-index: 1;
}

.menu-btn {
    position: absolute;
    left: 340px; 
    width: 600px; 
    height: 200px; 
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    z-index: 2;
}
.menu-btn:focus {
    outline: none;
}
